@model Forum.Models.PostFormViewModel

@{
    ViewBag.Title = "Post";
}

@if (Model.Post.Id == 0)
{
    <h1>Create Post</h1>
}
else
{
    <h1>Edit Post</h1>
}
<div class="edit-post-form">
    
@using (Html.BeginForm("Save", "Forum"))
{
    <div class="form-group">
        @Html.LabelFor(m => Model.Post.Title)
        @Html.TextBoxFor(m => Model.Post.Title, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => Model.Post.Text)
        @Html.TextAreaFor(m => Model.Post.Text, new {@class = "form-control"})
    </div>

    @Html.HiddenFor(m => m.Post.Id)

    <button type="submit" class="btn btn-primary">Save</button>
}
</div>
