@using Forum.Core.Helpers
@using PagedList.Mvc
@model PagedList.IPagedList<Forum.Core.Domain.Post>

@{
    ViewBag.Title = "All Posts";
}
<h1>Posts</h1>

<table class="table table-borderless table-hover">
    @foreach (var post in Model)
    {
        <tr class="col-lg-8">
            <td>
                <h2>@post.Title</h2>
                <p>@StringUtility.SummarizeText(post.Text)</p>

                <div style="display: flex;justify-content: space-between;align-items: center">
                    @post.DateCreated.ToString("f")
                    @* <a href="#" class="btn btn-success">Continue Reading</a> *@
                    @Html.ActionLink("Continue Reading", "Post", "Forum", new {id = post.Id}, new {@class = "btn btn-success"})
                </div>
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("Posts", new {page}))