@model Forum.Core.Domain.Post

@{
    ViewBag.Title = "Post";
}

@if (Model.Id == 0)
{
    <h1>Create Post</h1>
}
else
{
    <h1>Edit Post</h1>
}
<div class="edit-post-form">

    @using (Html.BeginForm("SavePost", "Forum"))
    {
        @Html.ValidationSummary(true,"Please Fix the Following errors.")
        <div class="form-group">
            @Html.LabelFor(p => Model.Title)
            @Html.TextBoxFor(p => Model.Title, new {@class = "form-control"})
            @Html.ValidationMessageFor(p => p.Title)
        </div>
        <div class="form-group">
            @Html.LabelFor(p => Model.Text)
            @Html.TextAreaFor(p => Model.Text, new {@class = "form-control"})
            @Html.ValidationMessageFor(p => p.Text)
        </div>

        @Html.HiddenFor(p => p.Id)
        @Html.AntiForgeryToken()
        
        <button type="submit" class="btn btn-lg btn-primary">Save</button>
    }
    
</div>